/* Inclusão das fontes conforme o Guia de Estilo CPS */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Roboto+Slab:wght@400;500&display=swap');

/* Formatação da div principal */ 
.principal {
    position: fixed;                              /* Posiciona a div de forma fixa na tela */
    top: 50%;                                    /* Centraliza verticalmente */
    left: 50%;                                   /* Centraliza horizontalmente */
    transform: translate(-50%, -50%);           /* Aplica a transformação para o centro exato */
    padding: 20px;                               /* Espaçamento interno da div */
    border: 1px solid #DADADA;                   /* Borda preta */
    border-radius: 15px;                         /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);   /* Sombra para efeito de profundidade */
    background-color: #ffffff;                   /* Cor de fundo branca */
    width: 550px;                                /* Largura fixa da div */
    margin-right: -80px;                         /* Margem negativa à direita */
    background-image: url(img/Efeitos_customizados/Efeito_novasenha02.png); /* Imagem de fundo */
    background-position: right;                   /* Posiciona a imagem de fundo à direita */
    background-repeat: no-repeat;                 /* Não repete a imagem de fundo */
    background-size: contain;                     /* Ajusta a imagem de fundo para caber na div */
}

/* Formatação do texto de solicitação */
.login-text {
    display: flex;                                /* Utiliza flexbox para layout */
    flex-direction: column;                       /* Alinha os itens em coluna */
    align-items: flex-start;                      /* Alinha os itens à esquerda */
}

/* Estilo para o título da página */
.titulo {
    font-family: 'Roboto Slab', serif;            /* Fonte Roboto Slab para título */
    font-size: 32px;                             /* Tamanho do texto aumentado para "Solicitar Nova Senha" */
    font-weight: bold;                           /* Texto em negrito */
    margin: 0;                                   /* Remove margens padrões */
    color: black;                                /* Cor do texto preta */
}

/* Estilo para o subtítulo da página */
.subtitulo {
    font-family: 'Roboto', sans-serif;           /* Fonte Roboto para subtítulo */
    font-size: 16px;                             /* Tamanho menor para "para continuar" */
    margin: 0;                                   /* Remove margens padrões */
    margin-left: 0;                              /* Alinha com o título */
    color: #666666;                              /* Cor do texto cinza */
}

/* Estilo para os ícones dos campos */
.icon {
    width: 15px;                                 /* Largura do ícone */
    height: auto;                                /* Altura automática para manter proporção */
    margin-right: 5px;                           /* Espaço entre o ícone e o texto */
    vertical-align: baseline;                    /* Alinha o ícone verticalmente com o texto */
}

/* Contêiner para itens de input, se necessário no futuro */
.input-container {
    display: flex;                                /* Utiliza flexbox para layout */
    align-items: center;                         /* Alinha itens verticalmente ao centro */
}

/* Estilo específico para o botão de envio */
input[type="submit"] {
    font-family: 'Roboto', sans-serif;           /* Fonte Roboto para o botão */
    padding: 4px 8px;                           /* Paddings reduzidos para um tamanho menor */
    text-align: center;                          /* Centraliza o texto do botão */
    display: inline-block;                       /* Exibição em linha */
    font-size: 15px;                             /* Tamanho da fonte do botão */
    font-weight: 500;                            /* Negrito leve */
    border-radius: 5px;                         /* Bordas arredondadas */
    cursor: pointer;                             /* Cursor em formato de pointer ao passar o mouse */
    background-color: #00C1CF;                  /* Cor de fundo do botão */
    color: white;
    border-style: solid;
    border-width: thin;
    border-color: #00C1CF;                              /* Cor do texto do botão preta */
}

/* Efeito ao passar o mouse no botão */
input[type="submit"]:hover {
    background-color: #00D8E8;                  /* Cor ao passar o mouse no botão */
}

/* Estilo para rótulos dos campos */
label {
    font-family: 'Roboto', sans-serif;           /* Fonte Roboto para rótulos */
    font-size: 20px;                             /* Aumenta levemente a fonte dos rótulos */
}

/* Estilo para campos de entrada de senha */
input[type="password"] {
    font-family: 'Roboto', sans-serif;           /* Fonte Roboto para os campos de entrada */
    border: 1px solid #B0B0B0;                  /* Borda mais clara */
    border-radius: 5px;                          /* Bordas arredondadas */
    font-size: 16px;                             /* Tamanho da fonte */
    box-sizing: border-box;                      /* Inclui padding e borda na largura total */
}

/* Estilo para o texto do placeholder */
input::placeholder {
    color: rgba(128, 128, 128, 0.5);            /* Cor cinza com 50% de transparência para o placeholder */
    font-style: italic;                          /* Deixa o texto do placeholder em itálico */
}
